
		/*VAULT BY VANS*/

.main {
	width: 100%;
	height: 5877spx;
	margin: 0 auto;
	
}
.stop{
	/*margin-left: 506px;*/
	margin: 0 auto;
	width: 1440px;
	height: 130px;
	/*border: solid 1px black;*/
}
.t1{
	float: left;
	margin-left: 70px;
	margin-top: 33px;
}
.t2 ul li{
	display: inline-block;
}
.t2 {
	float: left;
	
	margin-left: 1026px;
	margin-top: -84px;
}
.t2 ul a {
	color: #a4a4a4;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	font-family: "宋体";
}
.s1 {
	margin-right: 22px;
}
.s2 {
	margin-left: 22px;
}
.t3 ul li {
	/*display: inline-block;*/
	padding-left: 15px;
	
}
.t3>ul>li {
	display: inline-block;
}
.t3 ul a {
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-family: "宋体";
	font-weight: bold;
	vertical-align: middle;
}
.t3 a img {
	margin-left: 10px;
}
.t3 input {
	width: 180px;
	height: 23px;
}
.sx img {
	position: relative;
	left: -51px;
}
.t3 {
	float: left;
	margin-left: 480px;
	position: relative;
	top: -20px;
}
.t3 ul span {
	position: relative;
	top: 3px;
}
.t4 {
	width: 100%;
	height: 16px;
	background-color: black;
	float: left;
}
.cv2 {
	height: 490px;
	width: 97%;
	background-color: #333333;
	float: right;
}
.cv2 img {
	margin-top: 23px;
	position: absolute;
	margin-left: 371px;
}
.cv3 {
	height: 387px;
	width: 97%;
	background-color: #333333;
	float: left;
	margin-top: 23px;
}

.pp li{
	display: inline-block;
}
.pp {
	text-align: center;

}
.pp1 {
	width: 621px;
	height: 540px;
	margin-top: 20px;
	margin-right: 12px;
	
	
}
.pp2 {
	width: 621px;
	height: 540px;
	margin-top: 20px;
	margin-left: 12px;
	
}
.mm {
	position: fixed;
	top: 670px;
	left: 1838px;
}
.mm2 {
	margin-top: -2px;
}
.az1 {
	font-size: 25px;
	font-weight: bold;
	line-height: 14px;
}
.az2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 15px;
}
.az3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 15px;
}
.az4 {
	color: #999999;
	font-size: 18px;
	font-weight: bold;
	margin-top: 60px;
}
.ac4 {
	color: #c9192e;
	font-size: 18px;
	font-weight: bold;
	margin-top: 60px;
}
.qd1 {
	width: 621px;
	height: 540px;
	margin-top: 36px;
	margin-right: 12px;
	
}
.qd2 {
	width: 621px;
	height: 540px;
	margin-top: 36px;
	margin-left: 12px;
	
}
.vb {
	background: url(../img/v57.gif) no-repeat center;
	width: 100%;
	height: 317px;
	margin-top: 21px;
}
.t19 {
	background-color: #1c1c1c;
	width: 100%;
	height: 471px;
	
}
.t20 h1 {
	color: #FFFFFF;
	font-size: 20px;
	
}
.t20 li a{
	font-size: 15px;
	text-decoration: none;
	color: #589bc6;
}
#cx1 {
	color: #FFFFFF;
	font-size: 15px;
}
#cx2 {
	color: #FFFFFF;
	font-size: 15px;
}

.ps1 {
	margin-top: 34px;
	
}

.ps2 {
	margin-left: 170px;
	position: relative;
	top: -196px;
}
.ps1 li {
	padding-top: 8px;
}
.ps2 li {
	padding-top: 8px;
}
.t21 {
	margin-left: 236px;
	position: relative;
	top: 33px;
}
.t22 {
	margin-top: -360px;
	margin-left: 720px;
}
.t23 h1 {
	color: #FFFFFF;
	font-size: 20px;
}
.uu1 {
	font-size: 15px;
	color: #FFFFFF;
}

.uu3 {
	color: #FFFFFF;
	font-size: 15px;
}
.uu4 {
	color: #919191;
	font-size: 15px;
}
.t23 {
	margin-left: 760px;
	margin-top: -271px;
}
.t24 li {
	padding-top: 8px;
}
.t25 li {
	
	padding-top: 8px;
}
.t25 {
	margin-top: 30px;
}
.t26 {
	margin-left: 1300px;
	margin-top: -167px;
}
.t27 {
	/*margin-left: 1340px;
	margin-top: -272px;*/
	position: absolute;
	top: 5433px;
	left: 1340px;
}
.t27 h1{
	color: #FFFFFF;
	font-size: 20px;
	position: relative;
	left: 25px;
}
.t27 li {
	display: inline-block;
	padding-left: 5px;
	margin-top: 30px;
}
.t28 {
	margin-top: 215px;
	margin-left: 235px;
}
.t28 img {
	position: absolute;
	top: 5760px;
}
.t28 a {
	color: #919191;
	text-decoration: none;
	font-size: 15px;
}
.t28 span {
	color: #589bc6;
	font-size: 15px;
}
.t29 select {
	background-color: #64686b;
	width: 98px;
	height: 35px;
}
.t29 option {
	background-color: #FFFFFF;
	width: 150px;
	
}
.t31 {
	position: absolute;
	top: 5755px;
	left: 480px;
}

.t29 {
	margin-top: 15px;
}
.t2 a:hover {
	color: #d3192e;	
}
.t3 ul a:hover {
	color: #d3192e;
}
.sdf:hover {
	color: red;
}

#nb2 {
	width: 1930px;
	position: absolute;
	top: 30px;
	left: -710px;
	z-index: 99;
	}
	#nb2 img {
		width: 100%;
	}
	#nb2 li a {
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 900;
		margin-left: 290px;
	}
	#nb2 ul {
		position: relative;
		top: -130px;
		
	}
	#vcx a {
		font-size: 15px;
		font-weight: 900;
		color: #589bc6;
		position: relative;
		top: -115px;
		left: 1135px;
	}
	#vcx a:hover {
		color: #c8192e;
	}
	#nb3 {
	width: 1930px;
	position: absolute;
	top: 30px;
	left: -710px;
	z-index: 99;
	}
	#nb3 img {
		width: 100%;
	}
	#nb3 ul {
		position: absolute;
		top: 60px;
		left: 290px;
	}
	#nb3 li a {
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 900;
	}
	.kko {
		margin-left: 590px;
		margin-top: -24px;
	}
	.jhh1 li {
	display: block;
	}
	#nb4 {
		width: 100%;
		width: 1930px;
		position: absolute;
		top: 30px;
		left: -710px;
		z-index: 98;
	}
	#nb4 img {
		width: 100%;
	}
	.jhh1 {
		margin-top: -360px;
		margin-left: 274px;
	}
	.jhh1 li {
		color: #FFFFFF;
		font-size: 15px;
		padding-top: 6px;
	}
	.jhh1>li a {
		color: #589bc6;
	}
	.jhh2 li {
		color: #FFFFFF;
		font-size: 15px;
		padding-top: 6px;
	}
	.jhh2>li a {
		color: #589bc6;
	}
	.sh1 li {
		display: inline-block;
	}
	.jhh2 {
		margin-top: -266px;
		margin-left: 590px;
	}
	.jhh3 li {
		color: #FFFFFF;
		font-size: 15px;
		padding-top: 6px;
	}
	.jhh3>li a {
		color: #589bc6;
	}
	.jhh3 {
		margin-top: -159px;
		margin-left: 905px;
	}
	.kok {
		position: absolute;
		top: 100px;
		margin-left: 310px;
		cursor: pointer;
		z-index: 99;
	}
	#nb5 .tu1 {
	width: 100%;
	/*width: 1930px;*/
	}
	#nb5 {
		width: 1930px;
		/*width: 100%;*/
		position: absolute;
		top: 30px;
		left: -710px;
		z-index: 99;
	}
	.vvc1 {
		margin-top: -360px;
		margin-left: 274px;
	}
	.vvc1 li {
		color: #FFFFFF;
		font-size: 15px;
		padding-top: 6px;
	}
	.vvc1>li a {
		color: #589bc6;
	}
	.vvc2 li {
		color: #FFFFFF;
		font-size: 15px;
		padding-top: 6px;
	}
	.vvc2>li a {
		color: #589bc6;
	}
	.vvc2 {
		margin-top: -265px;
		margin-left: 590px;
	}
	.vvc3 li {
		color: #FFFFFF;
		font-size: 15px;
		padding-top: 6px;
	}
	.vvc3>li a {
		color: #589bc6;
	}
	.vvc3 {
		margin-top: -160px;
		margin-left: 905px;
	}
	.kok2 {
		position: absolute;
		top: 100px;
		margin-left: 310px;
		cursor: pointer;
		z-index: 99;
	}
	#nb6 {
	width: 1990px;
	/*width: 100%;*/
	position: absolute;
	top: 30px;
	left: -780px;
	z-index: 99;
	}
	#nb6 img {
		width: 100%;
		position: absolute;
		left: -20px;
	}
	.bnm {
		position: absolute;
		top: 80px;
		left: 160px;
	}
	.bnm li {
		display: inline-block;
		
	}
	.bnm>li a {
		color: #FFFFFF;
		font-size: 15px;
		padding-left: 190px;
	}
	#nb1 {
	position: absolute;
	top: 40px;
	left: 1140px;
	
	}
	#nb1 span {
		font-size: 16px;
		/*font-weight: bold;*/
		position: relative;
		left: -280px;
		top: -17px;
		color: #666666;
	}
	.gv {
	width: 300px;
	height: 151px;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	top: 106px;
	left: 1268px;
	}

	.gv a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
	}
	.gv a:hover{
		color: #d3192e;
	}
	.zx1 {
		line-height: 35px;
		text-indent: 10px;
	}
	.zx2 {
		line-height: 35px;
		text-indent: 10px;
	}
	.zx3 {
		line-height: 35px;
		text-indent: 10px;
		border-bottom: dashed 1px #FFFFFF;
	}